<div class="card">
  <div class="card-header">
    <span class="h4">Edit Author</span>
    <div class="btn-toolbar mb-2 mb-md-0 pull-right">
      <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/authors']">Back</a>
    </div>
  </div>
  <div class="card-body">
    <form class="form-horizontal" novalidate (ngSubmit)="saveAuthor()" [formGroup]="authorForm">
      <fieldset>
        <div class="form-group" [ngClass]="{'has-error': authorForm.controls.name.invalid
         && authorForm.controls.name.dirty}">
          <label class="col-md-2 control-label" for="nameId">Name</label>
          <div class="col-md-8">
            <input class="form-control" id="nameId" type="text" placeholder="Name" formControlName="name" />
            <div *ngIf="authorForm.controls.name.dirty" class="has-error">
              <div *ngIf="authorForm.controls.name.errors?.required">Name is required.</div>
              <div *ngIf="authorForm.controls.name.errors?.maxlength">Name is too long.</div>
            </div>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': authorForm.controls.urlSlug.invalid}">
          <label class="col-md-2 control-label" for="urlSlugId">Url Slug</label>
          <div class="col-md-8">
            <input class="form-control" id="urlSlugId" type="text" placeholder="Url Slug" formControlName="urlSlug" />
            <div *ngIf="authorForm.controls.urlSlug.errors?.required">When updating a author, the urlSlug is required.</div>
            <div *ngIf="authorForm.controls.urlSlug.dirty" class="has-error">
              <div *ngIf="authorForm.controls.urlSlug.errors?.maxlength">Url Slug is too long.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary btn-sm" type="submit" [disabled]='!authorForm.valid'>
                Save
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
