<div class="card">
  <div class="card-header">
    <span class="h4">Author Details</span>
    <div class="btn-toolbar mb-2 mb-md-0 pull-right">
      <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/authors']">Back</a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Url Slug:</div>
      <div class="col-md-10">{{author.urlSlug}}</div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-2 h3">Shows</div>
    </div>
    <div class="row" style="margin-top:10px;">
      <button class="btn btn-primary"
              [routerLink]="['show-add']"
              style="width:100px; margin-left:10px">
        Add show(s)
      </button>
    </div>
    <app-shows *ngIf='author && author.shows && author.shows.length'
               [shows]="author.shows"></app-shows>
  </div>
</div>
