<div class="panel panel-primary" *ngIf='author'>
    <div class="panel-heading">
        Details for {{author.title}}
    </div>

    <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">Description:</div>
                    <div class="col-md-10">{{author.description}}</div>
                </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" [routerLink]="['/authors']">
            Back
        </a>
    </div>
</div>
