@model IFormFile
@{
    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    htmlAttributes["type"] = "file";
    htmlAttributes["class"] = "custom-file-input";
}
<div class="custom-file">
    @Html.TextBoxFor(model => model, htmlAttributes)
    <label class="custom-file-label">Choose file</label>
</div>