@using DND.Common;
@using DND.Common.Extensions;

@model dynamic;

<div class="form-group row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success btn-sm mt-2" onclick="create@(Html.ViewData.ModelMetadata.Name)()"><span class="fa fa-plus" aria-hidden="true"></span> Create New</button>
    </div>
</div>

<div id="@(Html.ViewData.ModelMetadata.Name)">
    @for (int i = 0; i < Model.Count; i++)
    {
        var htmlHelper = HtmlHelperExtensions.For(Html, Model[i]);
    @(((IHtmlHelper)htmlHelper).EditorForModel("ModelRepeaterItem", new  { Collection = (string)ViewBag.Collection, CollectionIndex = i.ToString(), EditMode = true, CreateMode = false }));
    }
</div>

<script>
    function create@(Html.ViewData.ModelMetadata.Name)()
    {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              var elem = document.createElement('div');
              elem.innerHTML = this.responseText;
              document.getElementById("@(Html.ViewData.ModelMetadata.Name)").appendChild(elem.firstElementChild);
        }
        };
      xhttp.open("GET", "@(Url.Action("CreateCollectionItem", Url.ActionContext.RouteData.Values["controller"].ToString(), new { collection = (string)ViewBag.Collection }, Url.ActionContext.HttpContext.Request.Scheme))", true);
      xhttp.send();
    }
</script>