@model MailingListDTO

<div>
    <div class="form-group row">
        <div class="col-md-12 text-center">
            <div class="alert alert-success" role="alert">
                Thankyou, your subscription was successful.
            </div>
        </div>
    </div>
</div>

