<div class="card">
  <div class="card-header">
    <span class="h4">Authors</span>
    <div class="btn-toolbar mb-2 mb-md-0 pull-right">
      <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/authors-add']">Add</a>
    </div>
  </div>
  <div class="card-body">
    <div class='table-responsive'>
      <table class='table' *ngIf='authors && authors.length'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Url Slug</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let author of authors'>
            <td>
              <a [routerLink]="['/authors', author.id]">
                {{author.name}}
              </a>
            </td>
            <td>
              {{author.urlSlug}}
            </td>
            <td>
              <a class="btn btn-primary btn-sm" [routerLink]="['/authors/edit', author.id]">
                Edit
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
