@model DynamicFormNavigationMenuItem
@inject IHttpContextAccessor HttpContextAccessor
<li class="@(Model.IsActive || Model.IsPrevious ? "active" : "")">@Html.Raw(Model.IsPrevious ? Html.ActionLink(Model.LinkText, Model.ActionName, Model.ControllerName, Model.RouteValues, new { data_ajax = "true", data_ajax_update = "#dynamicForm" }).Render().Replace("%2F", "/") : Model.LinkText)</li>
@if (Model.ChildNavigation != null && Model.ChildNavigation.MenuItems.Count > 0)
{
    @foreach (var item in Model.ChildNavigation.MenuItems)
    {
        @await Html.PartialAsync("_DynamicFormHorizontalNavigationMenuItem", item)
    }
}