@model dynamic
@{
    ViewContext.ClientValidationEnabled = true;
    Layout = "_Blank";
    ViewBag.Blog = false;
}

<div class="row">
    <div class="col-sm-3 col-lg-2 hidden-xs-down">
        <nav id="navbar-example3" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Insurance</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-success" href="#item-1">Item 1</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ml-3 my-1 text-danger" href="#item-1-1">Item 1-1</a>
                    <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
                </nav>
                <a class="nav-link" href="#item-2">Item 2</a>
                <a class="nav-link" href="#item-3">Item 3</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
                    <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
                </nav>
                <a class="nav-link" href="#item-3">Summary</a>
            </nav>
        </nav>
    </div>
    <div class="col-sm-9 col-lg-10">
        <div class="card">
            <div class="card-body">
                @Html.Partial("_DynamicFormEdit")
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        function createCollectionItem(id, collectionItemUrl) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var elem = document.createElement('div');
                    elem.innerHTML = this.responseText;
                    document.getElementById(id).appendChild(elem.firstElementChild);
                }
            };
            xhttp.open("GET", collectionItemUrl, true);
            xhttp.send();
        }


        $(function () {
            formDependancies();
        });

        $('form').on('keyup change paste', 'input, select, textarea', function () {
            formDependancies();
        });

        function formDependancies() {
            console.log('Form changed!');
        }
    </script>
}