<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital Nomad Dave</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="DND" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/vendor/font-awesome/font-awesome.css" />
        <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />

        <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/polaroid-images.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/return-to-top.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site-xs.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site-sm.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site-md.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site-lg.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site-xl.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/blog.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/third-party.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Digital Nomad Dave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>
                    </ul>
                    <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2017 - DigitalNomadDave</span>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/vendor/jquery/jquery.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/vendor/respond/main.js"></script>
        <script src="~/vendor/instafeed/instafeed.js"></script>
        <script src="~/vendor/infinite-scroll/infinite-scroll.pkgd.js"></script>
        <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>

        <script src="~/js/db-geography.js" asp-append-version="true"></script>
        <script src="~/js/modal.js" asp-append-version="true"></script>
        <script src="~/js/return-to-top.js" asp-append-version="true"></script>
        <script src="~/js/scroll-position.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/third-party.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
